.products{
    background: radial-gradient(#525252, #131313);
}

.nav-container{
    background: rgb(7, 7, 7);
}


nav{
    width: 80%;
    margin: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        background: #f54538 ;
        border-radius: 50%;
        transform: translate(-5%, -30%);
        mix-blend-mode: screen;
    }
}

.order{
    background: #f54538;
    padding: 0.7rem 1rem;
    border-radius: 2rem;
}
