

#container {
    background: radial-gradient(#525252, #131313);
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    padding: 0rem 3rem 0rem 3rem;
}

#confirmationDetails {
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background: radial-gradient(#fd7676, #f54538);
    border-radius: 3rem;
    width: 40rem;
    margin: 3rem 0rem 3rem 0rem;

}

h2 {
    font-size: 1.6rem;
    margin: 2rem 2rem;
}

p {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: normal;
}

.invoiceInfo {
    font-size: 1.5rem;
    font-weight: 600;
}
@import "gradient";